{% extends 'master/master.html' %}
 {% load static %}
{% block title %} Employee Dashboard {% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-md-10">
              <div class="row">
                  <div class="col-md-4">
                      <div class="row">
                          {% if info.profile_image %}
                        <img src="{{MEDIA_URL}}{{info.profile_image.url}}" class="me">
                      {% else %}
                       <img src="{% static 'me.jpg' %}" class="me">
                      {% endif %}
                      </div>

                      <div class="row">
                          <h4 style="float:right;">{{info.fullname}}</h4>
                          <br/>
                          <h6 style="float:right;"><span>{{info.highest_education}}</span></h6>
                      </div>

                  </div>
                  <div class="col-md-8">
                     <h3>{{info.professional_title}} </h3>
                      <hr/>
                      <p>
                          {{info.about}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}